<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Frist App Nodejs of Apofis">
    <meta name="author" content="Kuroi Thanks to Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <title>Apofis</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="resources/css/hi.css" rel="stylesheet">
    <link href="resources/css/font.css" rel="stylesheet">
    <link href="resources/css/css-button.css" rel="stylesheet">
    <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="resources/img/logo/LOGO-LOGO-NEGRO.svg">
</head>

<body class="text-center text-white">
    <div id="background-mod">
        <div class=" d-flex w-100 h-100" id="block-hi">
            <div id="block-1">
                <img src="resources/img/logo/LOGO-COMPLETO-BLANCO.svg" id="logo-hi">
            </div>
            <div id="block-2">
                <div class="jumbotron">
                    <h1 class="display-4">Conocenos!!</h1>
                    <p class="lead">Si has llegado a este punto, es porque estas interesado en saber un poco mas de Apofis. <br>Bueno, te cuento que somos una StarUp reciente en el mercado, pero que posee un potencial casi ilimitado en el área de Desarrollo Web y Software, y créenos... no <i>exageramos.</i></p>
                    <hr class="my-4">
                    <p>Todo nuestro entorno Web esta basado en NodeJs, pero mas importante aun, es que todo el software interno esta basado en  Python, siendo este ultimo, el motor principal de todos nuestros Bots, con una escalabilidad  que solo Python te puede ofrecer.</p>
                    <hr class="my-4">
                    <p>Siendo un poco mas técnicos en el tema, gracias a las librerías de Selenium y software exclusivo de Google, como lo es Chromedriver, nuestros bots son capaces de ofrecer monitoreo a entornos web, realizando Login y simulando un flujo continuo y repetitivo cada cierto tiempo, previamente establecido. Pero no solo eso, si no también automatizar procesos repetitivos los cuales son evaluados previamente.
                        <br>
                        <br>
                        Pongamos un ejemplo: Imaginemos que dos veces por semana se debe ingresar a un pagina web especifica, tomar datos de ella y enviar un email con esta información a 10 clientes distintos. 
                        Si pensamos, es una tarea que fácilmente puede ser automatizada por nuestros bots, configurando un mensaje de entrada la información capturada, un mensaje de finalización, las configuraciones correspondiente como los usuarios y contraseñas necesarias para el Logeo en la pagina y el Logeo del email, finalizando con el envio de la información a los clientes configurados.
                        <br>
                        <br>
                        Pero... <i id="falla">¿ y si algo falla ? </i>
                        <br>
                        <br>
                        Para esto esta nuestra plataforma web. Donde podrás verificar el estado de cada uno de tus bots contratados, y obviamente, en vez de configurar solo los 10 clientes, podemos configurar un onceavo correo adicional, que podría ser el de la persona encargada de este proceso, para que se le envié una copia oculta y pueda verificar que la información enviada sea la correcta.
                        <br>
                        <br>
                        Como puedes notar, todo lo expuesto anteriormente, puede ser escalado hasta donde nuestros clientes lo deseen, pudiendo tener bots, de baja complejidad que podrían simular usuarios realizando transferencias bancarias, hasta bots de alta complejidad, capases de enviar, verificar, realizar comparativas, o incluso listar clientes y enviar información especifica a cada uno de ellos.
                        <br>
                        <br>
                        Los limites los impones tu.
                        <br>
                        <br>
                        Cabe destacar que actualmente nuestro único impedimento con los entornos Web, son los que poseen Captcha en alguno de los pasos que se deseen configurar, ya que aun estamos en proceso de desarrollo, para crear bots capacees de reconocerlos y saltarlos mediante manipulación indirecta del mouse. Pero eso aun esta en desarrollo.
                        <br>
                        <br>
                        Gracias por leer todo este contenido, y esperamos haber resuelto mas de una duda sobre nuestros servicios. En caso de tener aun tener preguntas, no dudes en contactarnos.
                        <br>
                        <br>
                        <br>
                    </p>
                        <h4>Se despide atentamente</h4><br><h4 id="apofis">SEO Fundador de Apofis - David R Flores</h4>
                            <br>
                            <br>
                    <a class="button" href="/" role="button">Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>